// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2021, The Linux Foundation. All rights reserved.
 * Copyright (c) 2022, Linaro Limited
 * Copyright (c) 2022, Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "sa8540p-adp.dtsi"

/ {
	model = "Qualcomm SA8540 ADP";
	compatible = "qcom,sa8540p-adp-ride", "qcom,sa8540p";
};

&ufs_card_hc {
	/* Currently broken on this board */
	status = "disabled";
};
